@charset "UTF-8";
#exemplo { 
    width: 200px;
    height: 200px;
    background-color: red;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear; /*ease, ease-in, ease-out, ease-in-out*/
    transition-delay: 2s;
    /*transition: width 2s linear 1s, height 2s linear; */
    /*transition: all 2s linear */
}
#exemplo:hover{
    width: 350px;
    height: 350px;
    background-color: green;
}